<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <div class="card">
                    <% if profile.nil? %>
                        <%= render 'profile/form', locals: { profile: current_user.profile.build } %>
                    <!-- User image here -->
                    <% else %>
                    <p><%= profile.first_name %></p>
                    <p><%= profile.last_name %></p>
                    <%= image_tag profile.picture_url %>
                    <% end %>
                </div>
            </div>

            <div class="column is-6">
            </div>
        </div>
    </div>
</section>