<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <h2 class="subtitle is-4 has-text-centered">Profile informations</h2>
                <%= render partial: 'info', locals: {user: @user }%>
            </div>
            <div class="column is-5">
                <h2 class="subtitle is-4 has-text-centered"> Posts </h2>
                <%= render partial: 'posts/post', collection: @user_posts %>
            </div>
            <div class="column is-4">
                <h2 class="subtitle is-4 has-text-centered"> Friends's list </h2>
                <div class="box">
                    <%# Display the user's friend list here %>
                </div>
            </div>
        </div>
    </div>
</section>