<% content_for :notification do %>
   <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Friend Requests
        </a>
      <div class="navbar-dropdown">
      <% @requests.each do |r| %>
        <div class="navbar-item">
          <div class="columns">
            <div class="column is-4">
              <strong><%= r.requester.username %></strong>
            </div>
            <div class="column is-4">
              <button class="button is-small is-primary">Accept</button>
            </div>
            <div class="column is-4">
              <button class="button is-small is-danger is-outlined">Refuse</button>
            </div>
            </div>
        </div>
      <% end %>
      </div>  
    </div>
<% end %>

<section class="section has-background-black">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-3">
        <% if user_signed_in? %>
          <%= render 'posts/form' %>
        <% end %>
        <%= render @posts %>
      </div>
    </div>
  </div>
</section>